includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
    excludePaths:
        - boostrap/
        - config/
        - lang/
        - public/
        - storage/
        - vendor/

    # Level 9 is the highest level
    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false